@model SiiTrainingProject.Models.Components.ProductSummaryViewModel

<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Total products:</td>
            <td>@Model.ProductsCount</td>
        </tr>
        <tr>
            <td>Total categories:</td>
            <td>@Model.CategoriesCount</td>
        </tr>
    </tbody>
</table>